name: Changeset Bot

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  pull-requests: write
  contents: read

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: posita/changeset-status-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
